.container {
    background: rgb(68, 68, 68);
    width: 300px;
    height: 300px;

    display: flex;
    flex-wrap: wrap;
}

.square {
    background: rgb(4, 233, 73);
    flex: auto;
    flex-basis: 18.75px;
}